<h1>Questionário Reativo</h1>

<code>{{ meta | json }}</code>

<form [formGroup]="myForm">
  <div>
    <label>Nome:</label>
    <input type="text" formControlName="nome" />
  </div>
  <div>
    <label>E-mail:</label>
    <input type="text" formControlName="email" />
  </div>

  <div formArrayName="perguntas">
    <div
      *ngFor="let p of getPerguntas.controls; let i = index"
      [formGroupName]="i"
    >
      <label>{{ p.value["pergunta"] }} - {{ i }}</label
      ><br />
      <div *ngIf="p.value['tipo'] === 'INSUMO'">
        aqui insumo
        <button>add insumo</button>
        <div>aa</div>
      </div>
      <div *ngIf="p.value['tipo'] != 'INSUMO'">
        <button (click)="remove(i)">-</button>
        <button (click)="add(p, i)">+</button>
        <input type="text" formControlName="resposta" />
      </div>
    </div>
  </div>
</form>
